<div class="container">
  <div class="container-head">
    <div class="head-content">
      <h2>{{ weatherDataView?.name || '' }}</h2>
      <h1>{{ (weatherDataView?.temp?.toFixed(0) || '') }}°C</h1>
    </div>
  </div>
  <div class="container-body">
    <div class="body-title"><h3>More information</h3></div>
    <div class="body-content">
      <div class="min-temperature card">
        <div class="card-info">
          <span class="material-symbols-outlined">
            thermostat
            </span>
            <p>min</p>
        </div>
        <div class="card-value">{{ weatherDataView?.min_temp?.toFixed(1) }}°C</div>
      </div>
      <div class="max-temperature card">
        <div class="card-info">
          <span class="material-symbols-outlined">
            thermostat
            </span>
            <p>max</p>
        </div>
        <div class="card-value">{{ weatherDataView?.max_temp?.toFixed(1) }}°C</div>
      </div>
      <div class="humidity card">
        <div class="card-info">
          <span class="material-symbols-outlined">
            humidity_percentage
            </span>
            <p>humidity</p>
        </div>
        <div class="card-value">{{ weatherDataView?.humidity_percent?.toFixed(0) }}%</div>
      </div>
      <div class="wind card">
        <div class="card-info">
          <span class="material-symbols-outlined">
            air
            </span>
            <p>wind</p>
        </div>
        <div class="card-value">{{ weatherDataView?.wind_speed?.toFixed(0) }}km/h</div>
      </div>
    </div>
  </div>
</div>
<a href="https://br.freepik.com/vetores-gratis/fundo-da-paisagem-montanhosa-ao-por-do-sol_1041778.htm#fromView=search&page=1&position=18&uuid=8c74cad9-c61d-46a2-a683-70ac2d4de4fa">Imagem de freepik</a>
<router-outlet></router-outlet>
